# LLM integration config
OPENAI_API_URL=
OPENAI_API_KEY=
OPENAI_API_TIMEOUT=1200
MODEL=gpt-5
MAX_PROMPT_OUTPUT=
REASONING_EFFORT=low

# IDE integration
IDE_MCP_HOST=http://127.0.0.1:63342/
MCP_CLIENT_TYPE=sse
# MCP_CLIENT_TYPE=legacy

# Agent settings
MAX_ITERATION=20

# Debug settings
DEBUG=0

# Experimental features
# DEEPTHINKING_AGENTS=ANALYTIC,CODER