OPENAI_API_URL=
MODEL=o1
OPENAI_API_KEY=
IDE_MCP_HOST=http://127.0.0.1:63342/
MAX_ITERATION=20
OPENAI_API_TIMEOUT=1200
MAX_PROMPT_OUTPUT=8000
DEBUG=0
REASONING_EFFORT=low
DEEPTHINKING_AGENTS=ANALYTIC,CODER